body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
    text-align: center;
    letter-spacing: .3px;
}

.container {
    max-width: 1440px;
    width: 88%;
    margin: 0 auto;
}

section {
    margin: 100px 0px;
}

h1, h2, h3 {
    color: $darkGrayishBlue;
    font-weight: 600;
    margin-bottom: 1.1rem;
}

h1 {
    font-size: 1.78em;
    font-weight: 600;
}

h2 { font-size: 1.56em; }

h3 { font-size: 1.33em; }

p {
    color: $grayishBlue;
    font-weight: 400;
    font-size: .89em;
    line-height: 1.6;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: $darkGrayishBlue;

    &:hover, &:focus {
        color: $strongCyan;
        transition: color .3s ease;
    }
}

button {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    color: white;
    width: 100%;
    padding: 16px 60px;
    margin-bottom: 25px;
    outline: none;
    border: none;
    border-radius: 40px;
    font-size: 1em;
    letter-spacing: .5px;
    cursor: pointer;
    transition: .3s opacity ease-in-out;

    &:hover { opacity: .8; }
}

.btn-ios {
    background-color: $strongCyan;
    border-bottom: 3px solid rgb(32, 160, 141);
    box-shadow: -2px 5px 9px rgba($strongCyan, .4);
}

.btn-mac {
    background-color: $lightBlue;
    border-bottom: 3px solid hsl(233, 50%, 53%);
    box-shadow: -2px 5px 9px rgba($lightBlue, .4);
}

@media screen and (min-width: 580px) {
    .download-btn {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;

        button {
            width: initial;
            padding: 16px 40px;
        }
    }
}

@media screen and (min-width: 720px) {
    h1 { font-size: 2em; }

    .hero, 
    .functionality__header, 
    .accessibility, 
    .download {
        p {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width: 920px) {
    .hero, 
    .functionality__header, 
    .accessibility, 
    .download {
        p { width: 75%; }
    }
}

@media screen and (min-width: 1024px) {
    h1 { font-size: 2.33em; }

    h2 { font-size: 1.78em; }
    
    h3 { font-size: 1.56em; }

    p { font-size: .95em; }

    .container { width: 80%; }

    .hero, 
    .functionality__header, 
    .accessibility, 
    .download {
        p { width: 50%; }
    }
}