footer {
    background-color: rgba($color: $grayishBlue, $alpha: .1);
    padding: 60px;

    .footer__logo {
        width: 55px;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 40px auto;

        a:hover, a:focus {
            color: $strongCyan;
            transition: color .3s ease;
        }
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
        font-size: 1.5em;

        a:hover, a:focus {
            color: $strongCyan;
            transform: scale(1.1);
            transition: all .3s ease;
        }
    }
}