.functionality {

    img {
        width: 100%;
        margin-bottom: 50px;
    }

}


@media screen and (min-width: 720px) {
    .functionality__body {
        display: flex;
        flex-direction: row;
        gap: 70px;
        align-items: center;


        img {
            width: 70%;
            margin-bottom: initial;
            margin-left: -120px;
            flex: 1;
        }

        aside {
            text-align: left;
            flex: 1;
        }
    }
}

@media screen and (min-width: 920px) {
    .functionality__body {
        gap: 100px;
    }
}