.productivity {
    aside {
        margin-top: 80px;
        
        img {
            padding: 20px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 720px) {
    .productivity aside {
        display: flex;
        gap: 50px;

        div {
            flex: 1;
        }
    }
}