.used-by .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-bottom: 150px;
}

@media screen and (min-width: 720px) {
    .used-by .container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}