.used-by .container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 150px;

    // img {
        // width: 50%;
    // }
}