$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);
$darkGrayishBlue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
    text-align: center;
    letter-spacing: .3px;
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    color: $darkGrayishBlue;
    font-weight: 600;
}

h1 {
    font-size: 1.78em;
}

p {
    color: $grayishBlue;
    font-weight: 400;
    font-size: .89em;
    line-height: 1.6;
}

button {
    width: 100%;
    padding: 16px 60px;
    margin-bottom: 25px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    color: white;
    outline: none;
    border: none;
    border-radius: 40px;
    font-size: 1em;
    letter-spacing: .5px;
    cursor: pointer;
    // box-shadow: 0px 16px 90px rgba($color: $strongCyan, $alpha: .8);
}

.btn-ios {
    background-color: $strongCyan;
    border-bottom: 3px solid rgb(32, 160, 141);
}

.btn-mac {
    background-color: $lightBlue;
    border-bottom: 3px solid hsl(233, 50%, 53%);
}



@import "hero";